# macOS system files
.DS_Store

# General
*.log
*.sql
*.sqlite
*.tar.gz
*.zip
*.gz
*.rar
*.exe
*.dll
*.bin
*.bak
*.tmp
.tmp
.idea/
.vscode/
*.swp
*~
Thumbs.db

# Node modules (if using Node.js within the repo)
node_modules/

# WordPress specific
wp-content/uploads/
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php

# Terraform specific
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!example*.tfvars

# Ansible specific
*.retry

# Nomad
*.plan
*.out

# PHP vendor folder
vendor/

# Certificates
*.cert
*.key
